#popup {
    width : 300px;
    padding : 20px;
    background-color:lightyellow;
    border :2px sold black;
    position : fixed;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    text-align : center;
    display : none;
}

button {
    padding : 8px 15px;
}